<% if record.errors.any? %>
	<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
			<div class="panel panel-default panel-danger">
			  <div class="panel-heading">
			    <h2 class="panel-title"><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>
			  </div>
			  <div class="panel-body">
		      <ul>
		      <% record.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
			  </div>
			</div>
    </div>
	</div>
<% end %>
